[user]
    email = terrancerkennedy@gmail.com
    name = Terrance Kennedy
[push]
    # Configures the behavior of running `git push` without a branch name. A
    # value of 'simple' pushes the current branch to the upstream branch of the
    # same name. This is the default in git 2.0 and above.
    default = simple
[alias]
    # Deletes all local branches that are fully merged into the current HEAD.
    delete-merged = !git branch --merged | grep -vE \"\\*|master|develop\" | xargs -n 1 git branch -d 2>/dev/null || echo \"No merged branches to delete\"
[diff]
    # The patience algorithm produces better looking diffs at the cost of CPU.
    algorithm = patience
[core]
    excludesfile = ~/.gitignore_global
