eval "$(devenv direnvrc)"

watch_file \
  devenv.lock \
  devenv.nix \
  devenv.yaml

# `use devenv` supports the same options as the `devenv shell` command.
#
# To silence the output, use `--quiet`.
#
# Example usage: use devenv --quiet --impure --option services.postgres.enable:bool true
use devenv --no-tui
