[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".themes"]
	path = .themes
	url = https://github.com/seanyeh/gtk2-theme-aphotic.git
