[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/scons"]
	path = .vim/bundle/scons
	url = https://github.com/vim-scripts/scons.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/session"]
	path = .vim/bundle/session
	url = https://github.com/xolox/vim-session.git
[submodule ".vim/bundle/snippets"]
	path = .vim/bundle/snippets
	url = https://github.com/cyphus/vim-snippets
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/align"]
	path = .vim/bundle/align
	url = https://github.com/vim-scripts/Align.git
[submodule "dwm/src/cyphus-dwm"]
	path = dwm/src/cyphus-dwm
	url = https://github.com/cyphus/cyphus-dwm.git
[submodule ".vim/bundle/misc"]
	path = .vim/bundle/misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/bundle/keepcase"]
	path = .vim/bundle/keepcase
	url = https://github.com/vim-scripts/keepcase.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/youcompleteme"]
	path = .vim/bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/tracwiki"]
	path = .vim/bundle/tracwiki
	url = git@github.com:vim-scripts/tracwiki.git
[submodule ".vim/bundle/salt"]
	path = .vim/bundle/salt
	url = git@github.com:saltstack/salt-vim.git
[submodule ".vim/bundle/vim-addon-nix"]
	path = .vim/bundle/vim-addon-nix
	url = git@github.com:MarcWeber/vim-addon-nix.git
[submodule ".vim/bundle/vim-addon-actions"]
	path = .vim/bundle/vim-addon-actions
	url = git@github.com:MarcWeber/vim-addon-actions.git
[submodule ".vim/bundle/vim-addon-completion"]
	path = .vim/bundle/vim-addon-completion
	url = git@github.com:MarcWeber/vim-addon-completion.git
[submodule ".vim/bundle/vim-addon-goto-thing-at-cursor"]
	path = .vim/bundle/vim-addon-goto-thing-at-cursor
	url = git@github.com:MarcWeber/vim-addon-goto-thing-at-cursor.git
[submodule ".vim/bundle/vim-addon-errorformats"]
	path = .vim/bundle/vim-addon-errorformats
	url = git@github.com:MarcWeber/vim-addon-errorformats.git
